<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Demo</title>
    {% load static %}
    <script type="text/javascript" src="{% static "chat/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "chat/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "chat/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chat/css/bootstrap-theme.min.css" %}">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>